body{
    background-color: black;
    overflow: hidden;
   
}

.gallery-slider{
    margin-top: 250px;
}
.ctn{
   
}
.block{
    color: black;
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 50px;
    background-color: white;
}