html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color:#FFF;
    background-color: #161616;
    overflow: hidden;
}



.block{
    position: relative;
    width: 580px;
    height: 100%;
    margin: 0 2% 0 4%;
    
}

.image-setting{
    background-repeat:  no-repeat !important ;
     background-position:50% 50%  !important;
    background-size: cover !important;
}

h2{
    position: absolute;
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 4rem;
}


.ctn{
    
  
}




/*
.horizontal-scroll{
    height: 100% !important; 
    width: auto !important;
}*/




.block{
    position: relative;
    width: 580px;
    height: 460px;
    margin: 10px 300px 20px 80px;
    
}




@media (max-width: 992px) { 
   
}

@media (min-width: 577px) { 
    .gallary{
        margin-top: 200px;
        margin-left: 200px;
    }
 }




 @media (max-width: 576px) { 
    .gallary{
        margin-top: 7.5vh;
       ;
    }
    .ctn{
    
        margin-top: 5vh;
        
       
    }

    .block{
        position: relative;
        width: 80vw;
        height: 400px;
        margin: 10px 30vw 20px 20px;
        
    }
 }

.big-title{
    color: red;
}

.block:nth-child(odd) .big-title {
    bottom: 0;
    right: -60px ;
    
}

.block:nth-child(even) .big-title {
   
    right: -60px ;
   
}

lottie-player{
    position: absolute;
    top: 50%;
    transform: translate(0% ,-50%);
    transition: opicty 5s ease-in-out ;
    
}